/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
    color: yellow;
}

.container {
    height: 100vh;
    position: relative;
}

.item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.item img {
    height: 300px;
}

#n1 {
    background-color: red;
}

#n2 {
    background-color: green;
}

#n3 {
    background-color: yellow;
    color: green;
}

/* Styling lista */
ul {
    z-index: 2;

    position: fixed;
    right: 1%;
    top: 50%;
    transform: translate(0,-50%);
}

ul li {
    text-align: center;
    list-style-type: none;
}

li a {
    display: inline-block;

    list-style-type: none;
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;

    background-color: blue;
    color: yellow;
    text-decoration: none;

    margin: 3px 0;
}